<nav class="navbar navbar-static-top header">
  <div class="container">
    <div class="navbar-brand">
      <span><i class="fa fa-ils"><%= link_to image_tag('sa-logo-white.png', width: 50, height: 40) %></i></span>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Portfolio", '#' %></li>
        <li><%= link_to "Blog", '#' %></li>
        <li><%= link_to 'Email Me <i class="fa fa-envelope"></i>'.html_safe, root_path %></li>
      </ul>
    </nav>
  </div>
</nav>
